body, html{
	font-family: 'Raleway', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
}

body section {
  width: 100%;
  float: left;
  padding: 0;
}

h1{
	text-transform: uppercase;
}

h4 {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	color: rgb(47, 147, 123);
}
p{
	font-size: 13px;
}

a { 
	color: #000000;
	transition: all 0.8;
}
a:hover,
a:focus{
	color: #000000;
	text-decoration: none;
  outline: none;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}

.animated-item {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.active a {
  color: #fff002 !important;
  background-color: unset !important;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
  outline: none;
}

.cemp {
  width: 100%;
  padding: 0;
  margin: 0
}

}

.active-section {
	top:0px;
}
.navbar.active-section {
	top:0 !important;
}

.titulo-secao {
  width: 100%;
  padding: 7% 0;
  text-align: center;
  float: left;
}

.titulo-secao h2 {
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ed1b24;
  font-family: 'Baloo Bhaijaan', cursive;
}

.titulo-secao h2:after {
    content: "";
    position: relative;
    display: block;
    width: 25%;
    height: 2px;
    background: rgba(237, 27, 36, 0.38);
    left: 37%;
    margin-left: 0;
    bottom: -10px;
}

p.subtitulo {
	font-size:18px;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  overflow: hidden;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }

  .pg-1 {
    height: 662px;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}


.pg-1 {
  height: 662px;
}
/* Home */
#home-page{
  background: url(../video/playback.mp4);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #cfcfcf;
  padding-bottom: 0 !important;
}



#home-page .sobrepor{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  height: auto;
  background-attachment: fixed;
}

.content{
  padding: 6% 0 18% 0;
  text-align: center;
}
/* Navegador */
#home-menu {
  margin-bottom: 0;
  background: transparent;
  border: 0;
  color: #fff !important;
  padding: 2% 0;
  transition: all 0.5s;
}

#home-menu.stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
    background: #ed1b24;
    padding: 1% 0;
    height: 75px;
    border-radius: 0px;
}

a figure {
    display: inline-block;
    background: rgba(255, 255, 255, 0);
    vertical-align: middle;
    padding: 0;
    margin: 0;
    float: left;
    margin-left: 15px;
    margin-top: -10%;
}

a figure img {
    max-width: 124px;
    padding: 0;
}

#rodo {
    display: inline-block;
    background: rgba(255, 255, 255, 0);
    vertical-align: middle;
    padding: 3% 3% 10% 3%;
    margin: 0;
}

#rodo img {
    max-width: 100%;
    padding: 0;
}

@media (max-width: 992px){
  #rodo img {
    max-width: 75%;
  }
}

.content h1 {
  text-transform: uppercase;
  font-weight: 900;
}

.navbar-brand {
  text-align: left;
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  float: left !important;
  color: #fff;
  z-index: 10;
  position: relative;
}

.navbar-brand:hover {
  color: #fff;
  opacity: 1;
}

.navbar-toggle {
	margin-right: 30px;
}

.navbar-nav {
  width: 100%;
  margin-left: 5%;
  text-align: center
}

.logo {
  width: 12% !important;
}

.logo a {
  padding: 0 !important;
  margin: 0;
}

.navbar-nav > li {
  float: left;
  width: 13%;
}

@media screen and (max-width: 480px) {
  .navbar-brand {
    margin: inherit;
    text-align: left;
    padding-left: 5%;
    margin-left: 0;
  }
}

#home-menu.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
  font-family: 'Baloo Bhaijaan', cursive;
}

#home-menu.navbar-default .navbar-nav > li > a:hover {
  color: #fff002;
  background-color: transparent;
}


/*Serviços*/

.servicos {
    font-size: 1.25em;
    min-height: 100%;
    margin-top: 0%;
}

.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tabs .icon::before {
    display: block;
    margin: 0 0 0.25em 0;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.tabs nav {
    text-align: center;
    background: rgba(255,255,255,0.4);
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li.tab-current {
    z-index: 100;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
}

.tabs nav ul li .icon {
  cursor: pointer;
}

.tabs nav ul li.tab-current .icon {
  cursor: default;
}

.tabs nav ul li:first-child::before {
    right: auto;
    left: 0;
}

.tabs nav ul li.tab-current::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #fff;
    content: '';
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
}

.tabs nav ul li:first-child::before, .tabs nav ul li::after {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    background: rgba(0,0,0,0.07);
    content: '';
}

.tabs nav ul li.tab-current a {
    background: #fff;
    box-shadow: -1px 0 0 #fff;
}

.tabs nav ul li a {
    
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding: 35px 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #74777b;
}

.tabs nav a:hover, .tabs nav a:focus, .tabs nav a:active {
  text-decoration-line: none;
  background-color: rgb(231, 236, 234);
}
.tabs nav a .sobre {
  margin-bottom: 5px;
}

.tabs nav a .sub {

}

.tabs nav a .icones {
  width: 25%;
  height: auto;
}

.tabs nav ul li a span {
  color: #000000;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none !important;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    text-align: left;
}

.content-wrap section.content-current {
    display: block !important;
}


.servicos-imagem {
  margin-left: 25%;
  max-width: 50%;
  border-radius: 50%;
}

.servicos-texto {
    font-size: 30px;
    padding-top: 15%;
    color: #fff;
    text-shadow: 2px 2px black;
    font-family: 'Open Sans', sans-serif;
}

#section-iconbox-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/video.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-size: cover;
  background-position: center center;
}

#section-iconbox-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/video.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-size: cover;
  background-position: center center;
}

#section-iconbox-3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/video.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-size: cover;
  background-position: center center;
}

#section-iconbox-4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/video.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-size: cover;
  background-position: center center;
}

#section-iconbox-5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/video.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video.jpg");
  background-size: cover;
  background-position: center center;
}

/* Raças */

.grade {
  width: 94%;
  margin-left: 3%;
}

.panel {
  width: 31%;
  margin: 1%;
  padding: 0%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: none;
  border-radius: 0;
  text-align: center;
  float: left;
  height: 370px;
}

.panel:hover {
    box-shadow: 0 6px 9px 0 rgba(0,0,0,.16), 0 6px 14px 0 rgba(0,0,0,.12);
    transition: 0.5s;
    margin-top: 0;
    margin-bottom: 2%
}

.panel img {
  max-width: 100%;
}

.panel h2 {
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.panel p {
  font-family: 'Open Sans', sans-serif;
}

/* Filhotes*/

.roller {
  padding: 0;
  margin: 0;
  float: left;
  width: 160%;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(230, 230, 230));
  background-size: 100% 100%;
}

.row, .margem {
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
  height: 485px;
}

.bloco a {
  position: relative;
}

.glyphicon {
  display: none;
  position: absolute;
  font-size: 30px;
  color: #fff;
  width: 5%;
  margin-left: 45%;
  top: 0;
}

.roller .col-md-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding: 0;
  width: 10%;
}

.left {
  left: 0;
  /* IE9, iOS 3.2+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(0, 0, 0, 0.84)), color-stop(1, rgba(0, 0, 0, 0)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-repeating-linear-gradient(top left, rgba(0, 0, 0, 0.84) 0%, rgba(0, 0, 0, 0) 100%);
}

.right {
  right: 0;
  /* IE9, iOS 3.2+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.84)));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.84) 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.84) 100%);
  background-image: -ms-repeating-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.84) 100%);
}

.indicador {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 110%;
  cursor: pointer;
}

.thumbnail {
  min-height: 400px;
}

.thumbnail img {
  height: 200px;
  width: 100%;
}

.filhote {
  display: block;
  width: 10.5%;
  margin: 2% 1% 1% 1%;
  float: left;
}

.ocl {
  display: none !important;
}

.caption h3{
  font-size: 20px;
}

.caption p {
  font-style: italic;
}

.caption p a {
  font-style: normal;
  width: 100%;
  background-color: #ed1b24;
  border-color: #b1161d;
}

.caption p a:hover, .caption p a:focus {
  background-color: #d81820; 
  border-color: #b1161d;
}

/* Galeria */

.bloco {
  padding: 2%;
}


.galeria-imagem {
  border-radius: 5px;
  max-width: 98%;
}

.galeria-imagem:hover, .galeria-imagem:focus {
  box-shadow: 0 6px 9px 0 rgba(0,0,0,.16), 0 6px 14px 0 rgba(0,0,0,.12);
  transition: 0.25s;
}

.bloco:focus, .bloco:hover {
  padding: 1%;
  transition: 0.85s;
}

/* Promoção */

.promo {
  padding: 0;
}

.promo-imagem {

  max-width: 100%;
}

/* Contato */
 
.info {
  padding-top: 5%;
  padding-left: 5%;
  text-align: center;
}

.empresa {
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 5%;
  font-family: 'Baloo Bhaijaan', cursive;
  color: #ed1b24;
}

.contatos {
  font-size: 20px;
  font-family: 'Baloo Bhaijaan', cursive;
}

.info a {
  float: left;
  margin-top: 5%;
}

.redes-ic {
  width: 30px;
}

.local {
  font-size: 17px;
  padding-top: 10%;
  font-family: 'Baloo Bhaijaan', cursive;
}

/* Rodapé*/

footer {
  float: left;
  width: 100%;
  text-align: center;
  padding: 3% 0;
  background-color: #ed1b24;
  color: #fff;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 22px;
}

footer a, footer a:hover, footer a:focus {
    color: #fff002;
}

/* Responsivo */

@media screen and (max-width: 992px){

    #aotica {
        height: 300px;
    }

    .col-md-6 {
        text-align: center;
    }

    .content-current .col-md-12 .esp::before {
        height: 0;
    }

    .tabs nav ul li a span, .sub-texto p {
        font-size: 1em;
    }

    .btn-rs {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px){

    #aotica {
        background-image: url("../img/top767.png");
        height: 375px;
    }

    .tabs nav ul {
        display: inline-block;
        width: 100%;
    }

    .tabs nav a {
        padding: 5px;
    }

    .tabs nav a .sobre {
        margin: 5px;
    }

    .tabs nav a .icones {
        width: 10%;
    }

    .tabs nav ul li a span, .sub-texto p {
        font-size: 1.3em;
    }

    .col-20 {
        width: 50%;
    }

    .img-prod {
        margin-top: 3%;
    }

    .produtos {
        max-width: 45%;
    }

    .ver-mais, .ver-menos {
        margin: 10% 33%;
        width: 33%;
    }

    .btn-rs {
        width: 30%;
    }

    .cnt h3 {
        font-size: 28px;
    }

    .col-dir {
        padding-left: 5%;
    }
}

@media screen and (max-width: 500px){

    #aotica {
        height: 250px;
    }

    .tabs nav a .icones {
        width: 15%;
    }

    .btn-equipe {
        width: 75%;
    }

    .ver-mais, .ver-menos {
        margin: 10% 12%;
        width: 75%;
    }

    .col-20 {
        width: 100%;
    }

    .produtos {
        max-width: 35%;
    }

    .cnt h3 {
        font-size: 20px;
        font-weight: 900;
    }

    .col-esq {
        padding: 10%;
        width: 100%;
    }

    .col-dir {
        display: none;
    }

    .jumbotron h2 {
        font-size: 30px;
    }

    .jumbotron p {
        font-size: 15px;
    }

    .thin {
        font-size: 10px;
    }

    form label {
        font-size: 12px;
    }

    form input {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px){

    #aotica {
        height: 199px;
    }

    .text-rs p strong {
        font-size: 30px;
    }

    .text-rs p {
        font-size: 20px;
    }

    .btn-rs {
      width: 70%;
    }

    .text-cnt {
        font-size: 20px;
    }

    .cnt h3 {
        font-size: 16px;
    }
}