.text-1 {
  display: block;
  position: absolute;
  top: 3%;
  margin-left: 10%;
  width: 60%;
  z-index: 999;
  text-align: left;
    
}

.text-2 {
    display: block;
    position: absolute;
    bottom: 22%;
    width: 96%;
    margin-left: 2%;
    z-index: 999;
    text-align: left;
}

.text-3 {
  display: block;
  position: absolute;
  top: 60%;
  width: 90%;
  z-index: 999;
}