@font-face {
  font-family: 'Quarion-Bold';
  src: url('../fonts/Quarion-Bold/Quarion-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quarion-Bold/Quarion-Bold.otf')  format('opentype'),
         url('../fonts/Quarion-Bold/Quarion-Bold.woff') format('woff'), url('../fonts/Quarion-Bold/Quarion-Bold.ttf')  format('truetype'), url('../fonts/Quarion-Bold/Quarion-Bold.svg#Quarion-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quarion-BoldItalic';
  src: url('../fonts/Quarion-BoldItalic/Quarion-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quarion-BoldItalic/Quarion-BoldItalic.otf')  format('opentype'),
         url('../fonts/Quarion-BoldItalic/Quarion-BoldItalic.woff') format('woff'), url('../fonts/Quarion-BoldItalic/Quarion-BoldItalic.ttf')  format('truetype'), url('../fonts/Quarion-BoldItalic/Quarion-BoldItalic.svg#Quarion-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quarion-Thin';
  src: url('../fonts/Quarion-Thin/Quarion-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quarion-Thin/Quarion-Thin.otf')  format('opentype'),
         url('../fonts/Quarion-Thin/Quarion-Thin.woff') format('woff'), url('../fonts/Quarion-Thin/Quarion-Thin.ttf')  format('truetype'), url('../fonts/Quarion-Thin/Quarion-Thin.svg#Quarion-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quarion-ThinItalic';
  src: url('../fonts/Quarion-ThinItalic/Quarion-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quarion-ThinItalic/Quarion-ThinItalic.otf')  format('opentype'),
         url('../fonts/Quarion-ThinItalic/Quarion-ThinItalic.woff') format('woff'), url('../fonts/Quarion-ThinItalic/Quarion-ThinItalic.ttf')  format('truetype'), url('../fonts/Quarion-ThinItalic/Quarion-ThinItalic.svg#Quarion-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    background: #e7ecea;
    color: #74777b;
    font-weight: 900;
    font-size: 1em;
    font-family: 'Quarion-Thin';
    overflow-x: hidden;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

strong {
    font-family: 'Quarion-Bold';
}

a {
    color: #009045;
    text-decoration: none;
    outline: none;
}


p {
    text-align: center;
    padding: 1em;
}

input, textarea {
    outline: none;
}

input[type='number']:focus, textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#aotica {
    background-image: url("../img/top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 480px;
}

.conteudo > section {
    padding: 0;
    font-size: 1.25em;
    min-height: 100%;
}

.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tabs .icon::before {
    display: block;
    margin: 0 0 0.25em 0;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.tabs nav {
    text-align: center;
    background: rgba(255,255,255,0.4);
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li.tab-current {
    z-index: 100;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
}

.tabs nav ul li .icon {
	cursor: pointer;
}

.tabs nav ul li.tab-current .icon {
	cursor: default;
}

.tabs nav ul li:first-child::before {
    right: auto;
    left: 0;
}

.tabs nav ul li.tab-current::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #fff;
    content: '';
    pointer-events: none;
    background: rgba(0, 0, 0, 0);
}

.tabs nav ul li:first-child::before, .tabs nav ul li::after {
    position: absolute;
    top: 20%;
    right: 0;
    z-index: -1;
    width: 1px;
    height: 60%;
    background: rgba(0,0,0,0.07);
    content: '';
}

.tabs nav ul li.tab-current a {
    background: #fff;
    box-shadow: -1px 0 0 #fff;
}

.tabs nav ul li a {
    
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding: 35px 0;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    color: #74777b;
}

.tabs nav a:hover, .tabs nav a:focus, .tabs nav a:active {
	text-decoration-line: none;
	background-color: rgb(231, 236, 234);
}
.tabs nav a .sobre {
	margin-bottom: 5px;
}

.tabs nav a .sub {

}

.tabs nav a .icones {
	width: 25%;
	height: auto;
}

.tabs nav ul li a span {
    font-weight: 900;
    font-size: 1.3em;
    font-family: 'Quarion-Thin';
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none !important;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block !important;
}

.sub-texto p {
    color: #74777b;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    font-weight: 900;
    font-size: 1.3em;
}

.col-20 {
	width: 20%;
	padding: 0;
	margin: 0;
	float: left;
}

.ocl {
	display: none;
}

.content-current .col-md-12 .esp::before {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: -1;
    width: 2px;
    height: 400px;
    background: rgba(0,0,0,0.07);
    content: '';
}

.h2-sobre {
	text-transform: uppercase;
    color: #129443;
    font-size: 45px;
    letter-spacing: 2px;
    font-family: 'Quarion-Thin';
    font-weight: 900;
}

.p-sobre {
	text-align: justify;
    font-size: 17px;
    font-style: italic;
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Quarion-ThinItalic';
    font-weight: 900;
}

.btn-equipe {
    width: 30%;
    padding: 10px;
    margin: 3% 0 2% 0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    background-color: #6da73b;
    /* IE9, iOS 3.2+ */
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #069345), color-stop(1, #6da73b));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top left, #069345 0%, #6da73b 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to right, #069345 0%, #6da73b 100%);
    background-image: -ms-repeating-linear-gradient(top left, #069345 0%, #6da73b 100%);
}

.img-prod {
	margin-top: 40%;
}

.sub-texto{
	margin: 0px 30px;
}

.produtos {
	max-width: 60%;
    height: auto;
    border-radius: 100%;
}

.ver-mais, .ver-menos {
	width: 30%;
    padding: 10px;
    margin: 3% 0 10% 0;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
	background-color: #6da73b;
	/* IE9, iOS 3.2+ */
	background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #069345), color-stop(1, #6da73b));
	/* Android 2.3 */
	background-image: -webkit-repeating-linear-gradient(top left, #069345 0%, #6da73b 100%);
	/* IE10+ */
	background-image: repeating-linear-gradient(to right, #069345 0%, #6da73b 100%);
	background-image: -ms-repeating-linear-gradient(top left, #069345 0%, #6da73b 100%);
    font-family: 'Quarion-Thin';
}

.ver-menos {
	display: none;
}

.slides {
    height: 128px;
    float: left;
    position: absolute;
}

#slider-01 {
    left: 0;
}

#margin-tp{
    margin-top: 128px;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(206, 33, 33, 0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0) 100%);
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.0))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(206, 33, 33, 0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0) 100%);
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.0))); */
    /* background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0) 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
	opacity: 0;
}

.redes-sociais {
	height: 350px;
	background-size: cover;
	background-image: linear-gradient(to right, rgba(98, 179, 36, 0.85), rgba(29, 78, 31, 0.96)), url("../img/redes.jpg");
	background-image: -moz-linear-gradient(right, rgba(98, 179, 36, 0.85), rgba(29, 78, 31, 0.96)), url("../img/redes.jpg");
	background-image: -o-linear-gradient(right, rgba(98, 179, 36, 0.85), rgba(29, 78, 31, 0.96)), url("../img/redes.jpg");
	background-image: -ms-linear-gradient(right, rgba(98, 179, 36, 0.85), rgba(29, 78, 31, 0.96)), url("../img/redes.jpg");
	background-image: -webkit-gradient(linear, left right, left bottom, from(rgba(98, 179, 36, 0.85)), to(rgba(29, 78, 31, 0.96))), url("../img/redes.jpg");
	background-image: -webkit-linear-gradient(right, rgba(98, 179, 36, 0.85), rgba(29, 78, 31, 0.96)), url("../img/redes.jpg");
	background-size: cover;
	background-position: center center;
}

.text-rs {
    padding-top: 60px;
}

.text-rs p {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Quarion-Thin';
    font-weight: 900;
}

.text-rs p strong {
    font-size: 45px;
}

.text-center a, .text-center a:hover, .text-center a:focus, .text-center a:active {
    color: currentColor;
}

header a:hover, header a:focus, header a:active {
    color: currentColor;
}

.btn-rs {
    padding: 10px 20px;
    width: 15%;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Quarion-Thin';
    font-weight: 900;
}

.icon-social-facebook {
    margin-right: 0%;
}

.icon-social-instagram, .icon-arrow-left-circle {
    margin-right: 5%;
}

.mod-01 {
    background-color: #fff;
    padding: 2%;
}

.text-cnt {
    padding: 5% 5% 0 5%;
    font-size: 27px;
    text-transform: uppercase;
    font-family: 'Quarion-Thin';
    font-weight: 900;
}

.cnt {
    padding: 0 5%;
    font-size: 15px;
    font-family: 'Quarion-Thin';
    font-weight: 900;
}

.cnt h3 {
    font-size: 30px;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}


.col-esq {
    width: 70%;
    float: left;
    text-align: center;
    height: 130px;
    background-color: #009045;
    color: #fff;
    padding-top: 60px;
    font-family: 'Quarion-Thin';
    font-size: 15px;
}

.col-esq a, .col-dir a {
    text-decoration-line: none !important;
    color: #e4e4e4;
}

.col-dir {
    width: 30%;
    float: left;
    color: #fff;
    padding-left: 10%;
    text-align: left;
    height: 130px;
    background-color: #336535;
    padding-top: 40px;
    font-size: 15px;
    font-family: 'Quarion-Thin';
}

.formulario {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    padding: 0px;
    margin: 30px 0;
}

.linha-form {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.form-small {
    width: 50%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-number {
    width: 15%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea{
    max-width: 100%;
    width: 100%;
    height: 57px;
    max-height: 80px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="radio"] {
    margin: 4px 6px 10px 18px;
}

input[type="checkbox"] {
    margin-right: 6px;
}

.text-btn {
    margin: 3% 0 10% 0;
}

.label-direita {
    width: 48%;
    float: left;
    text-align: right;
}

.input-direita {
    float: right;
    padding: 0 12px;
}

.grid-check {
    width: 33.3%;
    float: left;
}

.espaco-mais {
    margin-bottom: 10%;
}

.resultado {
    width: 100%;
    padding: 5% 10% 0px 10%;
    background-color: #fff;
}

.jumbotron {
    background: #fff;
    margin: 0;
    padding: 10%;
    color: #009045;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron h1 {
    font-size: 35px;
}

.jumbotron h2 {
    font-size: 30px;
}

.jumbotron h3 {
    font-size: 25px;
}

.jumbotron p {
    font-size: 20px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

.form-group {
    margin: 0;
    background: #fff;
    padding: 1px 10%;
    color: #009045;
    font-family: 'Open Sans', sans-serif;
}

.esquerda {
    float: left;
    width: 50%;
}

.direita {
    float: right;
    width: 50%;
}

.alert {
    margin: 0;
}

#branco {
    background-color: #fff;
    color: #009045;
}

#branco a {
    color: #009045;
}

form label {
    font-size: 15px;
    margin-right: 2%;
    text-transform: uppercase;
}

form input {
    font-size: 15px;
}

input[type='file'] {
  display: none
}

#label {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
  padding: 7px 30px;
  background-color: #6da73b;
    /* IE9, iOS 3.2+ */
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #069345), color-stop(1, #6da73b));
    /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #069345 0%, #6da73b 100%);
    /* IE10+ */
  background-image: repeating-linear-gradient(to right, #069345 0%, #6da73b 100%);
  background-image: -ms-repeating-linear-gradient(top left, #069345 0%, #6da73b 100%);
}

.thin {
    font-size: 11px;
}

/* Responsivo */

@media screen and (max-width: 992px){

    #aotica {
        height: 300px;
    }

    .col-md-6 {
        text-align: center;
    }

    .content-current .col-md-12 .esp::before {
        height: 0;
    }

    .tabs nav ul li a span, .sub-texto p {
        font-size: 1em;
    }

    .btn-rs {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px){

    #aotica {
        background-image: url("../img/top767.png");
        height: 375px;
    }

    .tabs nav ul {
        display: inline-block;
    }

    .tabs nav a {
        padding: 5px;
    }

    .tabs nav a .sobre {
        margin: 5px;
    }

    .tabs nav a .icones {
        width: 10%;
    }

    .tabs nav ul li a span, .sub-texto p {
        font-size: 1.3em;
    }

    .col-20 {
        width: 50%;
    }

    .img-prod {
        margin-top: 3%;
    }

    .produtos {
        max-width: 45%;
    }

    .ver-mais, .ver-menos {
        margin: 10% 33%;
        width: 33%;
    }

    .btn-rs {
        width: 30%;
    }

    .cnt h3 {
        font-size: 28px;
    }

    .col-dir {
        padding-left: 5%;
    }
}

@media screen and (max-width: 600px) {
    .grid-check {
        width: 100%;
    }
}

@media screen and (max-width: 500px){

    #aotica {
        height: 250px;
    }

    .tabs nav a .icones {
        width: 15%;
    }

    .btn-equipe {
        width: 75%;
    }

    .ver-mais, .ver-menos {
        margin: 10% 12%;
        width: 75%;
    }

    .col-20 {
        width: 100%;
    }

    .produtos {
        max-width: 35%;
    }

    .cnt h3 {
        font-size: 20px;
        font-weight: 900;
    }

    .col-esq {
        padding: 10%;
        width: 100%;
    }

    .col-dir {
        display: none;
    }

    .jumbotron h2 {
        font-size: 30px;
    }

    .jumbotron p {
        font-size: 15px;
    }

    .thin {
        font-size: 10px;
    }

    form label {
        font-size: 12px;
    }

    form input {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px){

    #aotica {
        height: 199px;
    }

    .text-rs p strong {
        font-size: 30px;
    }

    .text-rs p {
        font-size: 20px;
    }

    .btn-rs {
      width: 70%;
    }

    .text-cnt {
        font-size: 20px;
    }

    .cnt h3 {
        font-size: 16px;
    }

    .jumbotron h1 {
        font-size: 30px;
    }

    .jumbotron h2 {
        font-size: 25px;
    }

    .jumbotron h3 {
      font-size: 20px;
    }
    
}