.modal{
	display: none;
	position: fixed;
	top: 3%;
	left: 3%;
	width: 94%;
	height: auto;
	min-height: 500px;
	padding: 0;
	border: none;
	border-radius: 5px;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

input[type="number"] {
	margin-right: 15px;
    width: 6% !important;
}

.uk-icon-plus, .uk-icon-minus{
	color: #802215;
    font-size: 20px;
    margin-right: 10px;
}

.black_overlay{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}



.cabecalho{
	display: block;
	width: 96%;
	background-color: #802215;
	color: #FFF;
	max-height: 500px;
	padding: 1% 2%;
}
.cabecalho span{
	display: inline-block;
	width: 80%;
	text-align: left;
	font-size: 1.5em;
}
.cabecalho a{
	display: inline-block;
	width: 19%;
	text-align: right;
	font-size: 1.5em;
	color: #FFF;
}
.cabecalho a:hover{
	cursor: pointer;
}



.conteudo{
	display: block;
	padding: 1%;
	max-height: 550px;
	
}
.conteudo span{
	display: block;
	font-size: 1.4em;
	color: #333;
	padding: 1% 2%;
}



#adicionar_promocao .conteudo .linha,
#mostrar_promocao .conteudo .linha,
 .mostro .linha{
	padding: 1% 0;
}
#adicionar_promocao .conteudo .linha .col-esq,
#mostrar_promocao .conteudo .linha .col-esq{
	width: 24%;
    margin-right: 1%;
    text-align: right;
    font-size: 1.3em;
    float: left;
}
#adicionar_promocao .conteudo .linha .col-dir,
#mostrar_promocao .conteudo .linha .col-dir{
	width: 74%;
}

.select-produto {
	font-size: 18px;
    margin-left: 10px;
    border-radius: 4px;
    width: 25%;
    margin-top: 0px;
}

.label-produto {
    margin-left: 20px;
    font-size: 1.3em;
}

.number-produto {
	width: 5% !important;
    padding: 5px !important;
}

.button-produto {
	margin-left: 4%;
    padding: 7px 15px;
    background-color: #d7c6c2;
    color: #802215;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.44);
    cursor: pointer;
    text-transform: uppercase;
}


#adicionar_promocao .conteudo .linha .col-dir input,
#mostrar_promocao .conteudo .linha .col-dir input,
#adicionar_promocao .conteudo .linha .col-dir textarea,
#mostrar_promocao .conteudo .linha .col-dir textarea{
	display: inline-block;
	width: 50%;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 1%;
	font-size: 1.2em;
	margin-left: 1%;
}

#adicionar_promocao .conteudo .linha .col-dir .campo_datas,
#mostrar_promocao .conteudo .linha .col-dir .campo_datas{
	width: 22%;
	margin-left: 1%;
	margin-right: 1%;
}


#adicionar_promocao .conteudo .linha_botao,
#mostrar_promocao .conteudo .linha_botao{
	text-align: center;
}
#adicionar_promocao .conteudo .linha_botao a,
#mostrar_promocao .conteudo .linha_botao a{
	display: inline-block;
	width: 40%;
	background-color: #802215;
	color: #FFF;
	padding: 1% 3%;
	font-size: 1.4em;
	margin: auto;
	margin-bottom: 3%;
	border-radius: 5px;
}

#mostrar_promocao .conteudo .linha_botao input{
	display: inline-block;
	width: 40%;
	background-color: #802215;
	color: #FFF;
	padding: 1% 3%;
	font-size: 1.4em;
	margin: auto;
	margin-bottom: 3%;
	border-radius: 5px;
}

#botao_salva {
	width: 30%;
    float: left;
    margin-left: 35%;
    display: none;
}

#botao_edita {
	width: 20%;
    float: left;
    margin-left: 25%;
    margin-right: 5%;
}

#botao_exclui {
	position: absolute;
    width: 20%;
    bottom: 5%;
    left: 40%;
}

#botao_edita a{
	display: inline-block;
	width: 100%;
	float: left;
	background-color: #FF9800;
	color: #FFF;
	padding: 3% 10%;
	font-size: 1.4em;
	margin: auto;
	margin-bottom: 3%;
	border-radius: 5px;
	text-align: center;
}

#botao_exclui a{
	display: inline-block;
	width: 100%;
	float: left;
	background-color: #f44336;
	color: #FFF;
	padding: 3% 10%;
	font-size: 1.4em;
	margin: auto;
	margin-bottom: 3%;
	border-radius: 5px;
	text-align: center;
}

#botao_salva a{
	display: inline-block;
	width: 100%;
	float: left;
	background-color: #4caf50;
	color: #FFF;
	padding: 3% 10%;
	font-size: 1.4em;
	margin: auto;
	margin-bottom: 3%;
	border-radius: 5px;
	text-align: center;
}

.modal-footer {
	width: 100%;
    position: absolute;
    bottom: 0;
}

.modal-footer .col-esq {
	width: 50%;
    float: left;
    padding: 20px 0px;
    font-size: 1.3em;
    text-align: right;
    background-color: #802215;
    color: #d7c6c2;
}

.modal-footer .col-dir {
	width: 50%;
    float: left;
    padding: 20px 0px;
    font-size: 1.3em;
    text-align: left;
    background-color: #802215;
    color: #d7c6c2;
    border-radius: 0px;
}

/* Tablet */
@media screen and (max-width: 68em) {

  

}

@media screen and (min-width: 1000px)and (max-width: 1299px)  {


}

@media screen and (min-width: 865px)and (max-width: 999px)  {


}

/* Smartphone */
@media screen and (max-width: 54em) {



}