
@font-face {
  font-family: 'Quarion-Thin';
  src: url('../fonts/Quarion-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Quarion-Thin.otf')  format('opentype'),
	     url('../fonts/Quarion-Thin.woff') format('woff'), url('../fonts/Quarion-Thin.ttf')  format('truetype'), url('../fonts/Quarion-Thin.svg#Quarion-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
